@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit, sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.qr-container {
  width: 90%;
  max-width: 325px;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  text-align: center;
}

.qr-image {
  border-radius: 10px;
}

.details {
  padding: 1rem;
}

.title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  color: hsl(218, 44%, 22%);
}

.sub-title {
  color: hsl(220, 15%, 55%);
}